:root {
	background: #680400;
    --color: #ffc2bf;
    color: var(--color);
    font-family: Roboto, Sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    text-align: center;
}

::placeholder {
    color: var(--color);
    font-family: Roboto, Sans-serif;
    opacity: 0.7;
}

#title {
    font-weight: normal;
}

.row {
    margin: 0.5rem;
    display: flex;
}

.label-left {
    text-align: right;
    width: 49%;
    margin-right: 0.5%;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

#name,
#email,
#submit,
#number,
#dropdown,
#note {
    background: #470200;
    color: var(--color);
    font-family: Roboto, Sans-serif;
    font-size: 1rem;
    border-color: var(--color);
    border-width: 0.05rem;
}

#number {
	width: 3.4rem;
}

#note {
    width: 15rem;
    height: 6rem;
    margin-left: 0.5%;
}

#submit {
	padding: 0.25rem;
	margin: 1rem;
	margin-bottom: 1.5rem;
}